@import url('https://fonts.googleapis.com/css2?family=Rubik+Burned&family=Silkscreen&display=swap');

body{
    background-color: #000a0f;
}

.game{
    width: 700px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    overflow-x: hidden;
    background-image: url(/images/stars.jpg);
    background-color: #000a0f;
    background-size: contain;
    border-radius: 13px;
}

hr{
    z-index: 1;
    background-color: #393833;
    border: solid 1px #393833;
    border-top: solid 4px #515049;
    position: absolute;
    top: 150px;
    width: 700px;
    height: 50px;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}

 

#dino{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: 136px;
    margin-left: 5px;
    z-index: 2;
}

#char{
    z-index: 3;
    width: 50px;
    height: 50px;
    background-size: contain;
    animation: wheelchairMoves 0.3s infinite linear;
    transform: skew(3deg);
}

.jump{
    animation: jump 0.3s linear;
    transition: 2s;
}


@keyframes jump {
    0%{
        top: 136px;
    }
    30%{
        top: 106px;
    }
    50%{
        top: 66px;
    }
    80%{
        top: 106px;
    }
    100%{
        top: 136px;
    }
}


@keyframes wheelchairMoves {
    0%{
        background-image: url('/images/wheelchair1.png');
    }40%{
        background-image: url('/images/wheelchair2.png');
    }100%{
        background-image: url('/images/wheelchair2.png');
    }
}

/* #bg{
    position: absolute;
    top: 100px;
    width: 100vw;
    height: 50px;
    background-image: url('./images/cityBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-x;
    animation: buildings 12s infinite linear;
} */

#cactus{
    z-index: 2;
    width: 40px;
    height: 40px;
    position: relative;
    top: 100px;
    left: 700px;
    background-color: aliceblue;
    animation: block 1s infinite linear;
}

@keyframes block {
    0%{
        left: 700px;
        border-radius: 30%;
    }
    100%{
        left: -40px;
        border-radius: 5%;
        background-color: rgb(255, 170, 0);
        box-shadow: 0px 0px 10px 0px rgb(255, 170, 0),
        0px 0px 14px 2px rgb(255, 170, 0);
    }
}

@keyframes buildings {
    0%{
        left: 700px;
    }
    100%{
        left: -700px;
    }
}

#counter,
#highScore{
    position: fixed;
    font-size: 2em;
    font-family: 'Silkscreen', cursive;
    top: 10%;
    left: 50%;
    color: white;
    width: 20px;
    height: 20px ;
}

#highScore{
    top: 5%;
}

#alert{
    display: none;
    z-index: 3;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    height: 30vh;
    margin: auto;
    background-color: red;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    border: double 5px rgb(0, 0, 0);
    border-radius: 12px;
}

#alertP2{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}


button{
    height: 3vw;
    width: 16vw;
    font-family: 'Silkscreen', cursive;
    background-color: red;
    border: none;
    border-radius: 13px;
    color: #f9e817;
    animation: startPulse 5s infinite ease-in-out;
}

button:hover{
    transform: scale(1.1);
    background-color: #000a0f;
}